@charset "UTF-8";
/* CSS Document */
*{box-sizing: border-box}
body {scroll-behavior: smooth}
.img-res{ width: 100%; height: auto}
.shopnow {border: 0px solid; font-size: 15px; background-color: #7FB541; color: white; border-radius: 20px; padding: 10px;}
.shopnow:hover {border: 1px solid #7FB541; background-color: transparent; color:  #7FB541}
.row::after{ content: ''; clear: both; display: table;}
.fading:hover {opacity: 0.8}
.t-center{ text-align: center}
.t-right{ text-align: right}
#aboutus {height: auto;}
#gioithieu {height: auto; margin-top: 50px;}

nav ul li a
{color: white!important}

.button
{border-radius: 20px;
background-color: transparent;
font-style: bold;
color: #7FB541; 
border: 1px solid #7FB541; 
width: 100px; height: 30px
}

.button:hover
{background-color: #7FB541;
color: white;}

.hover
{color: #7FB541; }
.hover:hover
{color: #7FB541;}

.slider
{width: 100%;

background-position: center;
background-attachment: fixed;} 

#aboutus 
{width: 100%;

background-position: center;
background-attachment: fixed;}

#shop
{width: 100%;

background-position: center;
background-attachment: fixed;}

#news 
{width: 100%;

background-position: center;
background-attachment: fixed;}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	color: white!important;
	background:#7FB541 !important;
}


.cursor
{
	width: 60px;
	height: 60px;
	border: 5px solid rgba(253,176,0,1.00);
	border-radius: 50%;
	position: absolute;
	transition-duration: 200ms;
	transition-timing-function: ease-out;
	animation: cursorAnim .5s infinite alternate;
}
.cursor::after
{
	content:"";
	width: 60px;
	height: 60px;
	border: 8px solid rgba(39,222,146,1.00);
	border-radius: 50%;
	position: absolute;
	opacity: 0.5;
	top: -5px;
	left: -5px;
	animation: cursorAnim2 .5s infinite alternate;
}
.expand 
{
	animation: cursorAnim3 .5s forwards;
	border: 3px solid red;
}
@keyframes cursorAnim
{
	from{transform: scale(1);}
	to{transform: scale(.7);}
}

@keyframes cursorAnim2
{
	from{transform: scale(1);}
	to{transform: scale(.4);}
}

@keyframes cursorAnim3
{
	0% {transform: scale(1);}
	50% {transform: scale(3);}
	100% {transform: scale(1); opacity: 0}
}
